html {
    background-color: aqua;
    font-size: large;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

p {
    text-align: center;
    font-size: large;
}

/*To format the ingredients part*/
.ingredients {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ingredients li {
    list-style-position: inside;
    text-align: left;
    padding-left: 30%;
}


h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.Method {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Method h1 {
    text-align: center;
}

.bottom p {
    text-align: start;
    font-weight: 600;
}